@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, grey, #b7b7a4);
}

header nav > h2{
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Bree Serif', serif;
}

section {
    width: 360px;
    margin: 30px auto;
}

ul{
    list-style: none;
}

header nav{
    position: relative;
    width: 100vw;
    background-color: #03045e;
    height: 64px;
}

header nav i{
    display: inline-block;
    position: relative;
    top: 8px;
    color: white;
    font-size: larger;
    margin-left: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

input[type="text"]:focus{
    outline: none;
}

label{
    font-family: 'Kiwi Maru', serif;
    font-size: large;
}

#btn{
    width: 100%;
    height: 35px;
    padding: 3px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 10px;
}

#btn:hover{
    cursor: pointer;
}

#btn:focus{
    outline: none;
}