@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, grey, #b7b7a4);
}

header nav > h2{
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 10px;
    color: white;
    font-family: 'Bree Serif', serif;
}

section {
    width: 25vw;
    margin: auto;
    border: solid 3px black;
}

ul{
    list-style: none;
}

header nav{
    position: relative;
    width: 100vw;
    background-color: #03045e;
    height: 64px;
}

header nav i{
    display: inline-block;
    position: relative;
    top: 8px;
    color: white;
    font-size: larger;
    margin-left: 10px;
}


#detail-heading{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin: 20px;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

input[type="text"]:focus{
    outline: none;
}